* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*styles for the nav-bar*/
nav {
  background-color: #099396;
  width: 100vw;
  height: 80px;
}
.logo-img {
  padding-top: 5px;
  margin-left: 10vw;
}
.nav-links {
  display: flex;
  float: right;
  margin-top: -35px;
  margin-right: 100px;
}
.nav-links li {
  list-style: none;
  margin-right: 50px;
}
.nav-links li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header-title {
  max-width: 70%;
  margin: 1rem auto;
}

.title-paragraph {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
}

.title-img {
  width: 400px;
  margin: 1rem auto;
} /* title-img contain is here for incase you needed to add more images, you can use it as your flex container */

.title-img img {
  width: 100%;
}

.intoduction {
  background: linear-gradient(to bottom, #099396, #c4c8e1);
}

.introductory-paragraph {
  text-align: justify;
  font-size: 1.5rem;
  padding: 0.5rem;
  line-height: 2.5rem;
}

.sales-div .sales-paragraph {
  font-weight: bold;
  text-align: justify;
  font-size: 1.4rem;
}

.sales-paragraph span {
  color: red;
}

/* .slider {
  width: 80vw;
  margin: auto;
  margin-top: 30px;
} */

.d-block {
  width: 80vw;
  height: 300px;
  border-radius: 5px 50px;
}
.p-slider1 {
  padding: 0.3rem 0;
  color: #099396;
  text-decoration: underline;
  font-size: larger;
}
.a-slider {
  text-decoration: none;
}

.a-slider .p-slider1:hover, .a-slider .p-slider2:hover {
  transform: translateX(10px);;
} /** just a simple transition effect **/

.p-slider2 {
  background-color: #099396;
  width: 120px;
  padding: 10px;
  border-radius: 50px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/*** Compare the below code with the one I commented out to understand what changed****/
.intoduction,
.article-one,
.article-two,
.article-three,
.sales-div, .slider {
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* .article-one,
.article-two,
.article-three {
  width: 80vw;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
} */

.article-one {
  background: linear-gradient(to bottom, black, #099396);
  padding: 0.5rem;
}
h4 {
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.paragraph-one {
  background: #c4c8e1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  display: none;
  text-align: justify;
}
.fa-solid.fa-plus {
  cursor: pointer;
  padding-right: 1rem; /* added space between the icon and the letters. Note: I brought in 'fa-plus' in the class referencing to avoid conflicts b/c you may in the future have other 'fa-solid' icons in this page*/
}
.article-one.open p {
  display: block;
}
.hr-1 {
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

/*** Why do you have this code here! ****/
/* main {
  margin: auto;
  justify-content: center;
  align-items: center;
} */

h2,
h5 {
  text-align: center;
}

#brandName, .article-one h4 {
  transition: 1s;
}

.article-one h4:hover{
  transform: scale(1.009);
}

#brandName:hover {
  transform: scale(1.1);
}


h5 {
  margin-bottom: 10px;
}
.hr-2 {
  width: 80vw;
  margin: auto;
}
footer {
  background: #099396;
  width: 100vw;
  margin-top: 30px;
  height: 350px;
}
.footer-wrap {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 30px;
}
h6 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
.footer-list {
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.footer-link:hover {
  color: #b6b4b0;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
}
.hr-3 {
  margin-top: 10px;
  width: 80vw;
  margin: auto;
}
.socials {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
}
.fa-youtube,
.fa-instagram,
.fa-tiktok {
  margin-left: 15px;
}
.fa-youtube,
.fa-instagram,
.fa-tiktok,
.fa-square-facebook {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.fa-youtube {
  color: red;
}
.fa-square-facebook {
  color: blue;
}
.fa-instagram {
  color: purple;
}
.fa-youtube:hover,
.fa-instagram:hover,
.fa-tiktok:hover,
.fa-square-facebook:hover {
  font-size: 25px;
  cursor: pointer;
}
.coppyright {
  margin-left: 10vw;
  margin-top: 10px;
  color: white;
}
/*Media Querry*/
@media screen and (max-width: 550px) {
  .nav-links {
    display: none;
  }

  .title-img {
    width: 250px;
  } /* reduced the width of the container*/

  .header-title {
    margin: 1rem auto;
  }

  .title-paragraph {
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
  }

  .introductory-paragraph {
    line-height: normal;
  } /** removed the line height in mobile view **/

  .intoduction,
  .article-one,
  .article-two,
  .article-three,
  .sales-div {
    width: 90%;
  } /** Expanded the width a little for small screen **/

  .d-block {
    height: 250px;
    border-radius: 5px 50px;
    width: 80vw;
  }
  .sales-div-img1 {
    width: 80vw;
    height: 230px;
  }
  .sales-div-img2,
  .sales-div-img3 {
    margin-top: 30px;
  }

  .p-slider1 {
    font-size: 16px;
  }

}
