*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*styles for the nav-bar*/
nav{
    background-color: #099396;
    width: 100vw;
    height: 80px;
}
.logo-img{
    padding-top: 5px;
    margin-left: 10vw;
}
.nav-links{
    display: flex;
    float: right;
    margin-top: -35px;
    margin-right: 100px;
}
.nav-links li{
    list-style: none;
    margin-right: 50px;
}
.nav-links li a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.section-1{
    height: 400px;
    /*background-color: blue;*/
}
.main-img{
    width: 90%;
    height: 400px;
    margin-left: 5%;
    
}
.section-1-p{
    /*background-color: blueviolet;*/
    width: 88vw;
    margin: auto;
    margin-top: -350px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
span{
    font-size: 25px; 
    color: white;
}

.section-2{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 100px;
    background: #B6B4B0;
    border: 2px solid black;
    border-radius: 4px;
}

.section-2-p{
    color: #099396;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}
.explore{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.section-3{
    width: 90vw;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.box-1{
    width: 27vw;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}

.box-2{
    width: 27vw;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}
.box-3{
    width: 27vw;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}
.img-box{
    width: 27vw;
    height: 100px;
}

.hr-1{
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
main{
    margin: auto;
    justify-content: center;
    align-items: center;
}
h2, h5{
    text-align: center;
}
h5{
    margin-bottom: 10px;
}
.hr-2{
    width: 80vw;
    margin: auto;
}
footer{
    background: #099396;
    width: 100vw;
    margin-top: 30px;
    height: 350px;
}
.footer-wrap{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 30px;
}
h6{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.footer-list{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.footer-link:hover{
    color: #B6B4B0;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
}
.hr-3{
    margin-top: 10px;
    width: 80vw;
    margin: auto;
}
.socials{
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
}
.fa-youtube,.fa-instagram,.fa-tiktok{
    margin-left: 15px;
}

.fa-youtube,.fa-instagram,.fa-tiktok,.fa-square-facebook{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.fa-youtube{
    color: red;
}
.fa-square-facebook{
    color: blue;
}
.fa-instagram{
    color: purple;
}
.fa-youtube:hover,.fa-instagram:hover,.fa-tiktok:hover,.fa-square-facebook:hover{
    font-size: 25px;
    cursor: pointer;
}