*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*styles for the nav-bar*/
nav{
    background-color: #099396;
    width: 100vw;
    height: 80px;
}
.logo-img{
    padding-top: 5px;
    margin-left: 10vw;
}
.nav-links{
    display: flex;
    float: right;
    margin-top: -35px;
    margin-right: 100px;
}
.nav-links li{
    list-style: none;
    margin-right: 50px;
}
.nav-links li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.section1{
    /*background-color: blueviolet;*/
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10vw;
    margin: auto;
    margin-top: 50px;
}
.section1-p{
    width: 35vw;
    font-size: 18px;
    font-weight: bold;
    color: #099396;
}
.main-img{
    width: 35vw;
    height: auto;
}
span{
    font-size: 25px;
    color: black; 
}
.mission, .vision, .history{
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    background: linear-gradient(to right, #099396, black);
}
.vision{
    background: linear-gradient(to right,black, #099396)
}
h4{
    text-align: center;
    color: white;
}
.mission-paragraph, .vision-paragraph{
    text-align: center;
    background-color: white;
    padding: 10px;
}
.history{
    padding: 10px;
}

.history-paragraph{
    background-color: white;
    padding: 10px;
}
.Product-services, .contact-information{
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.action-call, .action-call-2{
    background-color: #099396;
    width: 120px;
    padding: 8px;
    border-radius: 25px;
    transition: .3s ease;
}
.action-call:hover{
    background-color: black;
}
.action-call-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.contact-information-paragraph{
    text-align: center;
}
h3{
    text-align: center;
}
.action-call-2{
    margin-left: 35vw;
}



.hr-1{
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
main{
    margin: auto;
    justify-content: center;
    align-items: center;
}
h2, h5{
    text-align: center;
}
h5{
    margin-bottom: 10px;
}
.hr-2{
    width: 80vw;
    margin: auto;
}
footer{
    background: #099396;
    width: 100vw;
    margin-top: 30px;
    height: 350px;
}
.footer-wrap{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 30px;
}
h6{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.footer-list{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.footer-link:hover{
    color: #B6B4B0;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
}
.hr-3{
    margin-top: 10px;
    width: 80vw;
    margin: auto;
}
.socials{
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
}
.fa-youtube,.fa-instagram,.fa-tiktok{
    margin-left: 15px;
}

.fa-youtube,.fa-instagram,.fa-tiktok,.fa-square-facebook{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.fa-youtube{
    color: red;
}
.fa-square-facebook{
    color: blue;
}
.fa-instagram{
    color: purple;
}
.fa-youtube:hover,.fa-instagram:hover,.fa-tiktok:hover,.fa-square-facebook:hover{
    font-size: 25px;
    cursor: pointer;
}
.coppyright{
    margin-left: 10vw;
    margin-top: 10px;
    color: white;
}